# Local repository constraints
.editorconfig
CONTRIBUTING.md

# Build outputs
[Bb]in/
[Oo]bj/
[Oo]bj_*/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
artifacts/
TestResults/
x64/
x86/
build/
bld/
!Sia.GLFW.Native/build/
!Sia.GLFW.Native/build/**
msbuild.log
msbuild.err
msbuild.wrn
Sia.GLFW.Native/runtimes/

# IDE and user files
.vs/
.vscode/
.devcontainer/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled files and packages
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs, databases, and temporary files
*.log
*.sql
*.sqlite
*.swp
*.*~
*.pyc
project.lock.json

# Operating system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
